# Ignorar la carpeta build
build/

# Ignorar la carpeta devel excepto algunos archivos de configuración importantes
devel/
!devel/setup.bash
!devel/setup.zsh
!devel/setup.sh

# Ignorar archivos generados específicamente
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.bak
*.tmp
*~

# Ignorar la carpeta de logs
log/
